[submodule "tortoise-tts"]
	path = tortoise-tts
	url = https://github.com/neonbjb/tortoise-tts
[submodule "YourTTS"]
	path = YourTTS
	url = https://github.com/Edresson/YourTTS
[submodule "whisper"]
	path = whisper
	url = https://github.com/openai/whisper
